<div class="container-fluid competance mt-4">
    <div name="section-skills" class="">
        <section class="shadow-blue white-bg padding">
            <input type="file" (change)="fileToText($event.target)">
            <h3 class="section-title texte"style="font-size: 40px;">Langue et loisir</h3>
            <div class="spacer"></div>
            <p class="mb-0"></p>
            <div class="espace">
                <div class="skill" id="skill">
                    <div class="computer">
            
                      
                    </div>
                </div>
            </div>
        </section>
    </div>
  
  </div>
 
