
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://www.youtube.com/watch?v=y8KKft8KJ1c" target="_blank">
        <img src="assets/me.jpg" alt="logo">
        <h1>My CV</h1>
      </a>
    </div>
    <!-- <app-welcome></app-welcome> -->
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/details">Details Personnelles</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/resumer">Resumer</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/langues">Langue et Loisir</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cursus" >Cursus Scolaire</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/experiences" >Experience</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/competences" >Competences</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Cv</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span class="header-trigger" (click)="toggleTheme()">
          <i class="trigger" nz-icon nzType="skin" nzTheme="outline"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="">
        <router-outlet></router-outlet>
        <!-- <app-welcome></app-welcome> -->
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
